*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("Images/background.webp");
    background-size: cover;
    background-position: center;
    color: white;
}

#header{
    width: 100%;
    height: 100vh;
}

/* .container {
    padding: 10px ;
} */

/* Profile Picture */
#header img {
    height: 600px;
    border-radius: 15px;
    float: right;
    margin-right: 8%;
    margin-top: 70px;
}

/* Putting Icons in the center of the screen */
#header .icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

/* Adjusting Size of the Icons */
#header .icons a {
    font-size: 30px;
    color: white;
    padding: 10px 20px;
    margin-top: 10%;
}

/* When hovering the icons, make it bigger and orange */
#header .icons a i:hover {
    color: orange;
    transition: 0.3s;
    transform: scale(1.3);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 10%;
    padding-top: 40px;
    color: white;
}

/* My name in the top left corner */
nav h2 {
    font-weight: bold;
    font-size: 45px;
    display: inline-block;
}


nav ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    left: 400px;
    font-size: 25px;
    padding: 10px 20px;
}

/* The Sections at the Top */
nav ul li a {
    color: white;
    /* Removes the underline from the link */
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: orange;
    transition: 0.3s;
}

/* The Contact Me Button */
nav button {
    position: relative;
    bottom: 30px;
    border: none;
    background-color: orange;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: .4s;
    height: 60px;
    width: 160px;
}

/* When hovering contact button, make bigger */
nav button:hover {
    transform: scale(1.3);
    cursor: pointer;
}

/* Greetings line */
.intro .text-1 {
    font-size: 40px;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    margin-left: 3%;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-2 {
    margin-left: 8%;
    margin-top: 40px;
}

.text-2 .text {
    position: relative;
    color: white;
    font-size: 60px;
    font-weight: 600;
}

button {
    border: none;
    background-color: orange;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: .4s;
    height: 60px;
    width: 160px;
    margin-top: 60px;
    margin-left: 30%;
    text-decoration: none;
}

.container a {
    text-decoration: none;
    color: white;
}


.container a button:hover {
    cursor: pointer;
    transform: scale(1.5);
}


/* About Section */

#about{
    padding: 80px 100px;
    color: #ababab; 
    font-size: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 40%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 55%;
}

.about-col-2 p{
    padding-top: 10px;
}

.subtitle {
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li {
    /* list-style: none; */
    padding: 10px;
    font-weight: bold;
}

.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
    font-weight: bold;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/* Project Section */
#projects {
    padding: 50px 100px;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    height: 90%;
    width: 90%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}


.layer {
    width: 100%;
    height: 0;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    position: absolute;
    /* left: 0;  */
    bottom: 0;
    overflow: hidden;
    display: flex;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: 1s;
}

.layer h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.layer p {
    font-size: 20px;
}

.layer a {
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.layer a:hover {
    transform: scale(1.3);
}

.work:hover img {
    transform: scale(1.2);
}

.work:hover .layer{
    height: 100%;
}

/* Contact Section */

#contact h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-content form{
    margin-top: 50px;
    width: 50%;
    position: relative; 
    left: 400px;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

.contact-content button{
    position: relative;
    left: 100px;
    bottom: 50px;
}
